/* *FONT * ----------------------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

/* *BODY * ----------------------------------------------------------------------*/
body {
    background-color: #F8F8F8;
    opacity: 0.7;
}
.login-btn {
  width: 200px;
  height: 50px;
  background: #fff;
  border: 3px solid #262649;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s linear;
  border-radius: 4px;
}

.login-btn.active {
  border: 3px solid #1c98d5;
  background: #1c98d5;
  color: #fff !important;
}

.login-btn.active:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

.login-form h6 {
  color: #1c98d5;
  font-size: 14px;
  font-family: "Jost", sans-serif;
}

.textbox {
  width: 200px;
  height: 50px;
  position: relative;
  margin-top: 10px;
}

.textbox input {
  width: 200px;
  height: 50px;
  border: none;
  background: #fff;
  font-size: 18px;
  outline: none;
  color: #1c98d5;
  border-radius: 4px;
  text-align: center;
}

.textbox input:focus {
  background: #f1f0f0 !important;
}

.check-message {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #fff;
  transform: translateY(-50%);
}

.textbox input:focus + .check-message {
  display: none;
}



.remember-me {
  float: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}
