/* *FONT * ----------------------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

/* *BODY * ----------------------------------------------------------------------*/
body {
  padding: 25px 25px 0px;
  margin: 0px;
}
.header {
  height: 100px;
  background: #fff;
}

.logo {
  width: 200px;
  height: 48px;
}

h1 {
  color: #262649;
  font-size: 75px;
  font-family: "jost", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  color: #1c98d5;
  font-size: 75px;
  font-family: "jost", bold;
  text-align: center;
}
h3 {
  color: #262649;
  font-size: 30px;
  font-family: "NanumGothic", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px;
  gap: 0px 0px;
  grid-template-areas: "Logo-Header . . Buttons-Header";
}

.Logo-Header {
  grid-area: Logo-Header;
}

.Buttons-Header {
  grid-area: Buttons-Header;
  padding-top: 4px;
}

.signin {
  padding: 11px;
  padding-right: 25px;
  float: right;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #686f80;
}

.signin:hover {
  text-decoration: underline 1.5px solid #686f80;
}

.signup {
  float: right;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #1c98d5;
  border-radius: 15px;
  border: 3px solid #1c98d5;
  padding: 8px 30px;
}

.signup:hover {
  background-color: #1c98d5;
  color: #fff;
}

.Info-Box1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  margin-top: 25px;
  gap: 40px 0px;
  grid-template-areas:
    "Info-1 Info-1 Svg-1 Svg-1"
    "Text-1 Text-1 Svg-1 Svg-1";
}

.Info-1 {
  grid-area: Info-1;
}

.Text-1 {
  grid-area: Text-1;
}

.Svg-1 {
  grid-area: Svg-1;
}

.getYourGiftcard {
  margin-bottom: 35px;
}

.getstarted {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  color: #262649;
  border-radius: 15px;
  border: 3px solid #262649;
  padding: 12px 30px;
}

.getstarted:hover {
  border: 3px solid #1c98d5;
  background-color: #1c98d5;
  color: #fff;
}

.waves {
  margin-left: -25px;
  margin-right: -25px;
}

/* .Info-Box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 200px;
  gap: 0px 0px;
  grid-template-areas:
    "Info-2 Info-2 . ."
    "Svg-2 Svg-2 Giftcards-box Giftcards-box"
    "Svg-2 Svg-2 Giftcards-box Giftcards-box";
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  background-color: #d8fffd;
}

.Info-2 {
  grid-area: Info-2;
  padding-left: 25px; 
}

.Giftcards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 300px;
  gap: 0px 0px;
  grid-template-areas:
    "Giftcard-1 Giftcard-2 Giftcard-3"
    "Giftcard-1 Giftcard-2 Giftcard-3";
  grid-area: Giftcards-box;
  margin: 25px;
}

.Giftcard-1 {
  grid-area: Giftcard-1;
  border: 6px solid #262649;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
}

.Giftcard-2 {
  grid-area: Giftcard-2;
  border: 6px solid #262649;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
}

.Giftcard-3 {
  grid-area: Giftcard-3;
  border: 6px solid #262649;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
}

.Svg-2 {
  grid-area: Svg-2;
  padding-left: 25px; 
  padding-top: 100px;
} */

/*** HIER **/

.Info-Box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 200px;
  gap: 0px 0px;
  grid-template-areas:
    "Info-2 Info-2 . ."
    "Svg-2 Svg-2 Giftcards-box Giftcards-box"
    "Svg-2 Svg-2 Giftcards-box Giftcards-box";
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  background-color: #d8fffd;
}

.Info-2 {
  grid-area: Info-2;
}

.Giftcards-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 250px;
  gap: 0px 0px;
  grid-template-areas:
    "Giftcard-1 Giftcard-2 Giftcard-3"
    "Giftcard-1 Giftcard-2 Giftcard-3";
  grid-area: Giftcards-box;
  margin: 25px;
}

.Giftcard-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Eur25"
    "Price25"
    "Instore1";
  grid-area: Giftcard-1;
  /* box-shadow: rgba(0, 0, 0, 0.342) 2px 2px; */
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
}

.Eur25 {
  grid-area: Eur25;
  place-items: center;
}

.gift25 {
  width: 150px;
  border: 3px solid #262649;
  background-color: #262649;
  padding-bottom: 0.1px;
  padding-left: 0.1px;
  border-radius: 15px;
}
.Price25 {
  grid-area: Price25;
}

.priceTagText {
  font-size: 60px;
}

.Instore1 {
  grid-area: Instore1;
}

.findStore {
  border: 2px solid black;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  padding: 10px;
  width: 120px;
}

.findStore:hover {
  color: white;
  background-color: #1c98d5;
  border: 2px solid #1c98d5;
  transition: 0.2s;
}

.Giftcard-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Eur50"
    "Price50"
    "Instore2";
  grid-area: Giftcard-2;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
  position: relative;
  z-index: 4;
}

.Eur50 {
  grid-area: Eur50;
}

.Price50 {
  grid-area: Price50;
}

.Instore2 {
  grid-area: Instore2;
}

.Giftcard-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Eur100"
    "Price100"
    "Instore3";
  grid-area: Giftcard-3;
  border-radius: 15px;
  background-color: #fff;
  margin: 25px;
}

.Eur100 {
  grid-area: Eur100;
}

.Price100 {
  grid-area: Price100;
}

.Instore3 {
  grid-area: Instore3;
}

.Svg-2 {
  grid-area: Svg-2;
  padding-left: 25px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Info-2 {
  position: relative;
}

.giftcards {
  margin-left: 25px;
}

.giftcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reverseWaves {
  transform: rotate(180deg);
}

/*! -------------------------------------------- How to grid */

.howTo-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 200px 200px 70px;
  gap: 0px 0px;
  grid-template-areas:
    "howToUse howToUse howToUse howToUse"
    ". . Svg-3 Svg-3"
    "step1 step2 Svg-3 Svg-3"
    "step3 step4 Svg-3 Svg-3"
    ". . . .";
}

h3.steps {
  margin: 0;
}

.step1-img {
  height: 75px;
  margin-bottom: 2px;
}

p.step1-txt {
  line-height: 2.5;
}

.step2-img {
  height: 68px;
  margin-bottom: 9px;
}

.step3-img {
  height: 70px;
  margin-bottom: 7px;
}

.step4-img {
  height: 77px;
  margin-bottom: 0px;
}

.steps-txt {
  padding: 0;
  margin: 0;
  font-family: "NanumGothic", sans-serif;
  font-size: 18px;
  text-align: center;
}

.step1 {
  grid-area: step1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step2 {
  grid-area: step2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step3 {
  grid-area: step3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step4 {
  grid-area: step4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Svg-3 {
  grid-area: Svg-3;
}

.howToUse {
  grid-area: howToUse;
}

/*! ---------------------------------------------FAQ grid */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 120px 120px 120px 70px 50px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "FAQ-header FAQ-header . ."
    "FAQ-SVG FAQ-SVG FAQ-1 FAQ-1"
    "FAQ-SVG FAQ-SVG FAQ-2 FAQ-2"
    "FAQ-SVG FAQ-SVG FAQ-3 FAQ-3"
    ". . . FAQ-other"
    ". . . .";
  background-color: #d8fffd;
  margin: -4px -25px 0px -25px;
}

.FAQ-SVG {
  grid-area: FAQ-SVG;
}

.FAQ-SVG-img{
  width: 100%;
}

.FAQ-header {
  grid-area: FAQ-header;
  line-height: 1.3;
  margin-left: 25px;
}

.FAQ-1 {
  grid-area: FAQ-1;
  background-color: yellow;
}

.FAQ-2 {
  grid-area: FAQ-2;
  background-color: purple;
}

.FAQ-3 {
  grid-area: FAQ-3;
  background-color: green;
}

.questions{
  display: flex;
  flex-direction: row;
}

.questionLogo{
  width: 60px;
  margin-top: 0px;
}

.FAQ-other {
  grid-area: FAQ-other;
}

.FAQ-subtitle{
  color: #262649;
  font-size: 35px;
  font-family: "jost", sans-serif;
  margin: 10px 0 0 20px;
  padding: 0;
}