/* *FONT * ----------------------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap%22");

/* *BODY * ----------------------------------------------------------------------*/
body { 
    
}
.header {
    height: 100px;
    background: #fff;
}

.logo {
    width: 200px;
    padding-top: 30px;
    padding-left: 30px;
   
}

h1 {
  color: #262649;
  font-size: 85px;
  font-family: "jost", sans-serif;
  margin-top: 120px;
  margin-left: 35px;
}

h3 {
    color: #262649;
    font-size: 35px;
    font-family: "NanumGothic", sans-serif;
    font-weight: normal;
    margin-left: 35px;
  }

.bitcoin {
    width: 750px;
    border: solid 1px
    
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 75px 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header header header header"
    ". . . . . . ."
    "info1 info1 info1 info1 svg1 svg1 svg1"
    "info1 info1 info1 info1 svg1 svg1 svg1"
    "info1 info1 info1 info1 svg1 svg1 svg1"
    ". . . . . . .";
}

.header { grid-area: header; }

.svg1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: svg1;
  margin-right: 100px;
}

.info1 { grid-area: info1; }